*{
  margin: 0px auto;
}

header{
  background-image: url(pattern.png);
  background-size: contain;
  background-color: #4F9FF7;
  height: 100px;
}

#logo{
  height: 50px;
  width: 200px;
  padding: 40px 0 0 5px;
}

main{
  width: 98%;
}

h1{
  margin-top: 20px;
}

#made-by > span{
  color: rgba(0, 0, 0, 0.5);
}

#photos{
  margin-top: 20px;
}

#made-by a{
  color: #3DA4E4;
  text-decoration: none;
}

#made-by div{
  font-size: .8rem;
}

p{
  margin-top: 20px;
}

p > span{
  background-color: yellow;
}

ul{
  margin: 30px 0px 30px 0;
  padding-left: 1%;
}

.head{
  background-color: #40A9E6;
  color: white;
}

.raw > div{
  display: inline-block;
  width: 33.3%;
  vertical-align: middle;
}

.blue{
  background-color: #B1E5F2;
}

#footer{
  margin-top: 30px;
}


.photo{
  margin-top: 20px;
  margin-left: 0;
  width: 300px;
  height: 190px;
  color: white;
  padding: 10px 0 0 10px;
  font-size: 30px;
}

.monitor{
  background-image: url(monitor.jpg);
}

.graph{
  background-image: url(graph.jpg);
  margin-bottom: 20px;
}
